<?xml version="1.0"?>
<!--
/**
 * @category   ThreeDegrees
 * @package    ThreeDegrees_MissingProductImagesReport
 * @author     ThreeDegrees Handry
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ThreeDegrees_MissingProductImagesReport" setup_version="0.0.1">
    	<sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogImportExport"/>
        </sequence>
    </module>
</config>