<?xml version="1.0"?>
<!--
/**
 * @category   ThreeDegrees
 * @package    ThreeDegrees_MissingProductImagesReport
 * @author     ThreeDegrees Magagula
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="threedegrees_missing_product_images_report" id="threedegrees_missing_product_images_report">
            <module name="ThreeDegrees_MissingProductImagesReport"/>
        </route>
    </router>
</config>